{% extends 'admin_dashboard/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h2>{{ type }}</h2>
    {% if form.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li>{{ field }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">{{ edit|yesno:"Update,Submit" }}</button>
        <a href="{% url 'book_volume_list' %}" class="btn btn-danger">🔙 Back to List</a>
    </form>
</div>
{% endblock %}